fieldset {
  display: block;
  margin: auto;
  padding: 1em;
  border: none;
  max-width: 400px;
}

label {
  display: block;
  font-variant: small-caps;
  font-size: 80%;
  margin-bottom: 0.2em;
}

input {
  font: inherit;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.35em 0.1em;
}

fieldset p {
  font-size: 75%;
  margin: 1em 0;
}
