#boards {
  padding: 0 1em;
  margin: auto;
}
#boards > * {
  border-bottom: 1px solid forestgreen;
}

#boards section {
  cursor: pointer;
  transition: background-color 250ms ease;
}
#boards section:hover {
  background: #ccc;
}

#boards section > header {
  padding: 0 1em;
}
#boards section > div.content {
  padding: 0 1em;
  margin-top: 0.5em;
}
#boards section > div.content > * {
  font-size: 80%;
}
#boards section > div.content ul,
#boards section > div.content ol {
  padding-left: 2em;
}
#boards section > footer {
  padding: 0 1em;
  margin-top: 0.5em;
}

.answer {
  border-top: 1px solid;
  padding: 1em 0;
}

#content {
  resize: none;
}
